body {
    background-color: rgba(250, 255, 252, 0.181);
}

@media (max-width: 767px) {
    #carouselExampleIndicators {
        width: 100% !important;
    }

    #cards-autores {
        display: flex;
        gap: 1em !important;
    }

    #todos-livros {
        display: flex;
        gap: 0.5em !important;
    }
}

@media (min-width: 768px) and (max-width: 1000px) {
    #cards-autores {
        width: 100% !important;
    }
}